[Desktop Entry]
Type=Application
Name=RSS feed addition
Exec=/usr/bin/env rssadd %U
Icon=internet-feed-reader
Comment=
Path=
Terminal=false
StartupNotify=false
